* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: "kumbh Sans", sans-serif;
  background-color: hsl(185, 75%, 39%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.bg-top,
.bg-bottom {
  width: 600px;
  position: absolute;
  z-index: -1;
}

.bg-top {
  right: 50%;
  top: -270px;
}

.bg-bottom {
  left: 50%;
  bottom: -180px;
}
.container {
  position: relative;
  background: white;
  width: 400px;
  height: 450px;
  border-radius: 20px;
  overflow: hidden;
  margin: 90px auto;
}

.card__header {
  width: 100%;
}

.card__header_pattern {
  width: 100%;
}

.card__content {
  display: flex;
  justify-content: center;
}

.avatar {
  border-radius: 50%;
  border: 7px solid white;
  position: relative;
  top: -50px;
}

.card__name {
  margin-top: -30px;
  font-size: 22px;
  font-weight: bold;
  color: hsl(229, 23%, 23%);
}
.card__age {
  font-weight: normal;
  color: hsl(227, 10%, 46%);
  margin-left: 5px;
}

.card__location {
  color: hsl(229, 9%, 65%);
  margin: 10px 0px 25px 0px;
}

.card__footer {
  display: flex;
  justify-content: space-around;
  text-align: center;
  position: relative;
  border-top: 1px solid #d8d9df;
  padding: 30px;
}

.card__qty {
  font-weight: bold;
  font-size: 22px;
}

.card__followers {
  font-size: 12px;
  color: rgba(60, 60, 64, 0.5);
  letter-spacing: 1px;
}

.attribution {
  color: white;
}

.rev {
  color: white;
}

a:hover {
  font-weight: 900;
}
